In [147]:
from config.configuration import engine
from tools import idealista_functions as i_func
import pandas as pd

#### We get idealista token:

In [2]:
token = i_func.get_idealista_token()

In [3]:
token

'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzY29wZSI6WyJyZWFkIl0sImV4cCI6MTYyNzUwNjkzNiwiYXV0aG9yaXRpZXMiOlsiUk9MRV9QVUJMSUMiXSwianRpIjoiYzA4ODgyNDAtOGE4MS00ZGVlLWI3ZTAtNmZiYzA4YjE2YTAwIiwiY2xpZW50X2lkIjoiZzcwa3FmeGdsY2RsYjRvZGJ0c29nZDZ2cHhtNmR5ZXUifQ.4if-pvchbytl3yBiGtrfltMjzohABUhwtWDnMOiyxl8'

#### Define 10 neighborhoods:

In [60]:
neighborhoods = [
    "Puerta Bonita",
    "Casco Histórico de Vallecas",
    "Acacias",
    "Pacífico",
    "Castilla",
    "Guindalera",
    "Valdeacederas", 
    "Canillas",
    "Media Legua",
    "Los Ángeles"
]

In [61]:
lista = []

for n in neighborhoods: 
    neighborhood_df = pd.read_sql_query(
    f"""
    SELECT neighborhood_name, latitude, longitude
    FROM neighborhoods
    WHERE neighborhood_name = "{n}";
    """, engine)
    
    neighborhood = neighborhood_df["neighborhood_name"][0]
    lat_lon = str(neighborhood_df["latitude"][0]) + "," + str(neighborhood_df["longitude"][0])
    
    dic = {
        "neighborhood": neighborhood,
        "lat,lon": lat_lon
        }
    
    lista.append(dic)

In [62]:
df = pd.DataFrame(lista)

In [63]:
# Now we have their longitude and latitude:

df

                  neighborhood           lat,lon
0                Puerta Bonita  40.3865,-3.73456
1  Casco Histórico de Vallecas  40.3773,-3.62171
2                      Acacias  40.4041,-3.70596
3                     Pacífico  40.4014,-3.67488
4                     Castilla  40.4764,-3.68004
5                   Guindalera  40.4364,-3.66802
6                Valdeacederas  40.4679,-3.70342
7                     Canillas  40.4619,-3.64335
8                  Media Legua   40.412,-3.65753
9                  Los Ángeles  40.3562,-3.69964

#### neighborhood 1:

In [18]:
result_1 = i_func.idealista_request(token, df["lat,lon"][1], 2000)

In [19]:
# We get both dataframes for neighborhood 1:
df_1_mysql, df_1_pred = i_func.creating_dataframe(result_1)

In [24]:
df_1_mysql.to_csv("./data/dfs_retrain/df_1_mysql.csv", index = False)
df_1_pred.to_csv("./data/dfs_retrain/df_1_pred.csv", index = False)

#### Same with 0:

In [25]:
result_0 = i_func.idealista_request(token, df["lat,lon"][0], 2000)

In [26]:
df_0_mysql, df_0_pred = i_func.creating_dataframe(result_0)

In [29]:
print(len(df_0_mysql), len(df_0_pred))

20 20

In [27]:
df_0_mysql.to_csv("./data/dfs_retrain/df_0_mysql.csv", index = False)
df_0_pred.to_csv("./data/dfs_retrain/df_0_pred.csv", index = False)

#### neighborhood 2:

In [30]:
result_2 = i_func.idealista_request(token, df["lat,lon"][2], 2000)

In [31]:
df_2_mysql, df_2_pred = i_func.creating_dataframe(result_2)

In [32]:
print(len(df_2_mysql), len(df_2_pred))

20 20

In [33]:
df_2_mysql.to_csv("./data/dfs_retrain/df_2_mysql.csv", index = False)
df_2_pred.to_csv("./data/dfs_retrain/df_2_pred.csv", index = False)

#### neighborhood 3:

In [34]:
result_3 = i_func.idealista_request(token, df["lat,lon"][3], 2000)

In [35]:
df_3_mysql, df_3_pred = i_func.creating_dataframe(result_3)

In [36]:
print(len(df_3_mysql), len(df_3_pred))

20 20

In [37]:
df_3_mysql.to_csv("./data/dfs_retrain/df_3_mysql.csv", index = False)
df_3_pred.to_csv("./data/dfs_retrain/df_3_pred.csv", index = False)

#### 4:

In [38]:
result_4 = i_func.idealista_request(token, df["lat,lon"][4], 2000)

In [39]:
df_4_mysql, df_4_pred = i_func.creating_dataframe(result_4)

In [40]:
print(len(df_4_mysql), len(df_4_pred))

20 20

In [41]:
df_4_mysql.to_csv("./data/dfs_retrain/df_4_mysql.csv", index = False)
df_4_pred.to_csv("./data/dfs_retrain/df_4_pred.csv", index = False)

#### 5:

In [42]:
result_5 = i_func.idealista_request(token, df["lat,lon"][5], 2000)

In [43]:
df_5_mysql, df_5_pred = i_func.creating_dataframe(result_5)

In [44]:
print(len(df_5_mysql), len(df_5_pred))

20 20

In [45]:
df_5_mysql.to_csv("./data/dfs_retrain/df_5_mysql.csv", index = False)
df_5_pred.to_csv("./data/dfs_retrain/df_5_pred.csv", index = False)

#### 6:

In [46]:
result_6 = i_func.idealista_request(token, df["lat,lon"][6], 2000)

In [47]:
df_6_mysql, df_6_pred = i_func.creating_dataframe(result_6)

In [48]:
print(len(df_6_mysql), len(df_6_pred))

20 20

In [49]:
df_6_mysql.to_csv("./data/dfs_retrain/df_6_mysql.csv", index = False)
df_6_pred.to_csv("./data/dfs_retrain/df_6_pred.csv", index = False)

#### 7:

In [50]:
result_7 = i_func.idealista_request(token, df["lat,lon"][7], 2000)

In [51]:
df_7_mysql, df_7_pred = i_func.creating_dataframe(result_7)

In [52]:
print(len(df_7_mysql), len(df_7_pred))

20 20

In [53]:
df_7_mysql.to_csv("./data/dfs_retrain/df_7_mysql.csv", index = False)
df_7_pred.to_csv("./data/dfs_retrain/df_7_pred.csv", index = False)

#### 8:

In [65]:
result_8 = i_func.idealista_request(token, df["lat,lon"][8], 2000)

In [91]:
df_8_mysql, df_8_pred = i_func.creating_dataframe(result_8)

In [92]:
print(len(df_8_mysql), len(df_8_pred))

20 20

In [93]:
df_8_mysql.to_csv("./data/dfs_retrain/df_8_mysql.csv", index = False)
df_8_pred.to_csv("./data/dfs_retrain/df_8_pred.csv", index = False)

#### 9:

In [143]:
result_9 = i_func.idealista_request(token, df["lat,lon"][9], 2000)

In [148]:
df_9_mysql, df_9_pred = i_func.creating_dataframe(result_9)

In [149]:
print(len(df_9_mysql), len(df_9_pred))

20 20

In [97]:
df_9_mysql.to_csv("./data/dfs_retrain/df_9_mysql.csv", index = False)
df_9_pred.to_csv("./data/dfs_retrain/df_9_pred.csv", index = False)

#### Concatenate both dataframes:

In [182]:
df_1_mysql = pd.read_csv("./data/dfs_retrain/df_1_mysql.csv")
df_1_pred = pd.read_csv("./data/dfs_retrain/df_1_pred.csv")
df_9_mysql = pd.read_csv("./data/dfs_retrain/df_9_mysql.csv")
df_9_pred = pd.read_csv("./data/dfs_retrain/df_9_pred.csv")

In [183]:
frames_mysql = [df_0_mysql, 
               df_1_mysql, 
               df_2_mysql, 
               df_3_mysql, 
               df_4_mysql,
               df_5_mysql,
               df_6_mysql,
               df_7_mysql,
               df_8_mysql,
               df_9_mysql,
]

frames_pred = [df_0_pred,
              df_1_pred,
              df_2_pred,
              df_3_pred,
              df_4_pred,
              df_5_pred,
              df_6_pred,
              df_7_pred,
              df_8_pred,
              df_9_pred
]

In [184]:
df_final_mysql = pd.concat(frames_mysql)
df_final_pred = pd.concat(frames_pred)

In [185]:
df_final_mysql.to_csv("./data/dfs_retrain/df_final_mysql.csv", index = False)
df_final_pred.to_csv("./data/dfs_retrain/df_final_pred.csv", index = False)

#### Let's import to mysql the mysql dataframe:

In [186]:
df_final_mysql.drop_duplicates(inplace = True)

In [187]:
df_final_mysql.shape

(180, 16)

In [188]:
df_final_mysql.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 180 entries, 0 to 19
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   sq_mt_built         180 non-null    float64
 1   n_rooms             180 non-null    int64
 2   n_bathrooms         180 non-null    int64
 3   latitude            180 non-null    float64
 4   longitude           180 non-null    float64
 5   address             180 non-null    object
 6   buy_price           180 non-null    float64
 7   is_new_development  180 non-null    int64
 8   is_renewal_needed   180 non-null    int64
 9   has_lift            180 non-null    int64
 10  is_exterior         180 non-null    int64
 11  has_parking         180 non-null    int64
 12  floor               180 non-null    float64
 13  neighborhood_id     180 non-null    int64
 14  house_type_id       180 non-null    int64
 15  district_id         180 non-null    int64
dtypes: float64(5), int64(10), object(1)
memory usage: 23.9+ KB

In [189]:
i_func.import_idealista_to_mysql(df_final_mysql)

Dataframe cargado en MySQL!