In [2]:
from config.configuration import engine
from tools import idealista_functions as i_func
import pandas as pd
from tools import functions as func

Conectado a mysql / base de datos: tu_pisito

In [2]:
token = i_func.get_idealista_token()

In [3]:
neighborhoods = [
    "Puerta Bonita",
    "Casco Histórico de Vallecas",
    "Acacias",
    "Pacífico",
    "Castilla",
    "Guindalera",
    "Valdeacederas", 
    "Canillas",
    "Media Legua",
    "Los Ángeles"
]

lista = []

for n in neighborhoods: 
    neighborhood_df = pd.read_sql_query(
    f"""
    SELECT neighborhood_name, latitude, longitude
    FROM neighborhoods
    WHERE neighborhood_name = "{n}";
    """, engine)
    
    neighborhood = neighborhood_df["neighborhood_name"][0]
    lat_lon = str(neighborhood_df["latitude"][0]) + "," + str(neighborhood_df["longitude"][0])
    
    dic = {
        "neighborhood": neighborhood,
        "lat,lon": lat_lon
        }
    
    lista.append(dic)

df = pd.DataFrame(lista)

df

                  neighborhood           lat,lon
0                Puerta Bonita  40.3865,-3.73456
1  Casco Histórico de Vallecas  40.3773,-3.62171
2                      Acacias  40.4041,-3.70596
3                     Pacífico  40.4014,-3.67488
4                     Castilla  40.4764,-3.68004
5                   Guindalera  40.4364,-3.66802
6                Valdeacederas  40.4679,-3.70342
7                     Canillas  40.4619,-3.64335
8                  Media Legua   40.412,-3.65753
9                  Los Ángeles  40.3562,-3.69964

In [4]:
result_1 = i_func.idealista_request(token, df["lat,lon"][1], 2000)

In [5]:
df_1_mysql, df_1_pred = i_func.creating_dataframe(result_1)
df_1_mysql.to_csv("./data/dfs_retrain/df_1_mysql.csv", index = False)
df_1_pred.to_csv("./data/dfs_retrain/df_1_pred.csv", index = False)

In [7]:
result_9 = i_func.idealista_request(token, df["lat,lon"][9], 2000)

In [8]:
df_9_mysql, df_9_pred = i_func.creating_dataframe(result_9)
df_9_mysql.to_csv("./data/dfs_retrain/df_9_mysql.csv", index = False)
df_9_pred.to_csv("./data/dfs_retrain/df_9_pred.csv", index = False)

#### Some other tests:

In [9]:
dic = {
    "bar": True,
    "restaurant": False,
    "cafe": False,
    "subway_station": True
}

In [14]:
df = pd.DataFrame(dic, index=[0])

In [15]:
df

    bar  restaurant   cafe  subway_station
0  True       False  False            True

In [18]:
def help_me_google(latitude, longitude):
    
    if df["bar"][0]:
        bars = g_func.get_bars(latitude, longitude)
    if df["restaurant"][0]:
        restaurants = g_func.get_restaurants(latitude, longitude)
    if df["cafe"][0]:
        cafes = g_func.get_cafes(latitude, longitude)
    if df["subway_station"][0]:
        subway_stations = g_func.get_subway_stations(latitude, longitude)
    if df["train_station"][0]:
        train_stations = g_func.get_train_stations(latitude, longitude)
    if df["gym"][0]:
        gyms = g_func.get_gyms(latitude, longitude)
    if df["parking"][0]:
        parkings = g_func.get_parkings(latitude, longitude)
    if df["primary_school"][0]:
        primary_schools = g_func.get_primary_schools(latitude, longitude)
    if df["secondary_school"][0]:
        secondary_schools = g_func.get_secondary_schools(latitude, longitude)
    if df["shopping_mall"][0]:
        shopping_malls = g_func.get_shopping_malls(latitude, longitude)