In [8]:
import sqlalchemy as alch
from getpass import getpass
import pandas as pd

In [9]:
password = getpass("Dame la contraseña: ")

Dame la contraseña: ········

In [10]:
dbName = "tu_pisito"

In [11]:
connectionData = f"mysql+pymysql://root:{password}@localhost/{dbName}"

In [12]:
engine = alch.create_engine(connectionData)
print("me conecté")

me conecté

#### neighborhoods table:

In [13]:
madrid = pd.read_csv("../data/madrid-neighborhoods.csv")

In [14]:
madrid.head()

    neighborhood   latitude  longitude  district  value_m2
0    Los Ángeles  40.356222  -3.699639        17   1796.68
1     San Andrés  40.285117  -3.795549        17   1617.18
2    Los Rosales  40.357195  -3.689448        17   1827.79
3  San Cristóbal  40.343354  -3.687817        17   1308.89
4       Butarque  40.336404  -3.674240        17   2197.80

In [15]:
for i,v in madrid.iterrows():
    neigh = v.neighborhood
    lat = v.latitude
    lon = v.longitude
    dis = v.district
    value = v.value_m2
    
    engine.execute(f"""
    INSERT neighborhoods (neighborhood_name, latitude, longitude, district_id, value_m2) VALUES
    ("{neigh}", {lat}, {lon}, {dis}, {value});
    """)

#### apartments table:

In [16]:
apartments = pd.read_csv("../data/clean-madrid-v2.csv")

In [18]:
apartments.columns

Index(['id', 'sq_mt_built', 'sq_mt_useful', 'n_rooms', 'n_bathrooms',
       'latitude', 'longitude', 'raw_address', 'neighborhood_id', 'buy_price',
       'is_new_development', 'is_renewal_needed', 'has_lift', 'is_exterior',
       'has_parking', 'floor', 'house_type', 'value_m2', 'neighborhood',
       'district'],
      dtype='object')

In [20]:
columns_to_drop = ["sq_mt_useful",
                    "id", 
                   # "raw_address", 
                   "neighborhood_id"]

In [22]:
apartments.drop(columns_to_drop, axis=1, inplace=True)

In [23]:
apartments.columns

Index(['sq_mt_built', 'n_rooms', 'n_bathrooms', 'latitude', 'longitude',
       'raw_address', 'buy_price', 'is_new_development', 'is_renewal_needed',
       'has_lift', 'is_exterior', 'has_parking', 'floor', 'house_type',
       'value_m2', 'neighborhood', 'district'],
      dtype='object')

In [24]:
apartments.head(1)

,sq_mt_built,n_rooms,n_bathrooms,latitude,longitude,raw_address,buy_price,is_new_development,is_renewal_needed,has_lift,is_exterior,has_parking,floor,house_type,value_m2,neighborhood,district
0,70.0,3,1,40.35934,-3.698374,Calle de la del Manojo de Rosas,129900,0,1,1,1,0,4.0,0,1796.68,Los Ángeles,Villaverde

In [26]:
df = pd.read_sql_query(
"""
SELECT neighborhood_id
FROM neighborhoods
WHERE neighborhood_name = "Los Ángeles";
""", engine)

In [34]:
int(df["neighborhood_id"][0])

int

In [36]:
for i, row in apartments.iterrows():
    
    neighborhood_df = pd.read_sql_query(
    f"""
    SELECT neighborhood_id
    FROM neighborhoods
    WHERE neighborhood_name = "{row["neighborhood"]}";
    """, engine)
    
    neighborhood = int(neighborhood_df["neighborhood_id"][0])
    
    district_df = pd.read_sql_query(
    f"""
    SELECT district_id
    FROM districts
    WHERE district_name = "{row["district"]}";
    """, engine)
    
    district = int(district_df["district_id"][0])

    
    # Loading the row to MySQL
    engine.execute(f"""
    INSERT apartments (sq_mt_built,
                        n_rooms,
                        n_bathrooms,
                        latitude,
                        longitude,
                        address,
                        buy_price,
                        is_new_development,
                        is_renewal_needed,
                        has_lift,
                        is_exterior,
                        has_parking,
                        floor,
                        neighborhood_id,
                        house_type_id,
                        district_id ) VALUES
    ({row["sq_mt_built"]},
    {row["n_rooms"]},
    {row["n_bathrooms"]},
    {row["latitude"]},
    {row["longitude"]},
    "{row["raw_address"]}",
    {row["buy_price"]},
    {row["is_new_development"]},
    {row["is_renewal_needed"]},
    {row["has_lift"]},
    {row["is_exterior"]},
    {row["has_parking"]},
    {row["floor"]},
    {neighborhood},
    {row["house_type"]},
    {district});
    """)